/**
 * SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

img.screenshot {
  max-width: 50%;
  min-width: 30%;
  height: auto;
  margin: 20px auto !important;
  margin-top: 0;
  left: 0 !important;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature {
  width: 100%;
  margin-bottom: 20px;

  img.left {
    float: left;
    margin-right: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  img.right {
    float: right;
    margin-left: 20px;
  }

  @media (min-width: 768px) {
    width: 100%;
  }
}

.screenshots {
  img {
    max-width: 50%;
    min-width: 30%;
    margin: 0 auto;
    display: block;
  }
}
