// SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: LGPL-2.1-or-later

.notecard {
	background-color: var(--note-background) !important;
	border-inline-start: 4px solid var(--note-theme);
	border-radius: 5px;
	border-width: 4px;
	margin: 1rem 0;
	margin-top: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	&__icon--heading {
		margin-bottom: auto;
		margin-top: 0.3rem;
	}
	&--success {
		--note-background: rgba(39, 174, 96, 0.1);
		--note-theme: rgb(39, 174, 96);
	}
	&--error {
		--note-background: rgba(var(--color-error-rgb), 0.1);
		--note-theme: var(--color-error);
	}
	&--warning {
		--note-background: rgba(var(--color-warning-rgb), 0.1);
		--note-theme: var(--color-warning);
	}
}
