/**
 * SPDX-FileCopyrightText: 2021 Nibaldo González <nibgonz@gmail.com>
 * SPDX-FileCopyrightText: 2021 Nguyen Hung Phu <phu.nguyen@kdemail.net>
 * SPDX-License-Identifier: LGPL-3.0-or-later
 */

.custom-store-badge {
    display: flex;
    padding: 6px;
    padding-right: 10px;
    background: #252525;
    border: 1px solid #78909C;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 1px 1px 0px rgba(1,1,1,0.5);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(1,1,1,0.5);
    -moz-box-shadow: 0px 1px 1px 0px rgba(1,1,1,0.5);
    transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    -ms-transition: .4s;

    img {
        width: 48px;
        height: 48px;
        margin-right: 8px;
    }

    .text-container {
        height: 48px;
        display: flex;
        flex-direction: column;
    }

    .store-pre-title {
        font-family: Sans-serif;
        font-size: 12px;
        color: white;
    }

    .store-title {
        font-family: Sans-serif;
        font-weight: bold;
        font-size: 22px;
        color: white;
    }
}

.custom-store-badge:hover, .custom-store-badge:focus {
    background: rgba(55,71,79,1);
    border: 1px solid #B0BEC5;
    box-shadow:         0px 1px 4px 0px rgba(1,1,1,0.6);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(1,1,1,0.6);
    -moz-box-shadow:    0px 1px 4px 0px rgba(1,1,1,0.6);
}
