{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/download.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
<main class="container">
  {{ with .Params.konqi }}
  <img src="{{ . }}" alt="" class="konqi">
  {{ end }}

  <h1>{{ .Title }}</h1>

  <table class="distribution-table">
    <tr class="title-row">
      <td rowspan="2" width="100" class="text-center">
        <img src="/reusable-assets/tux.png" alt="{{ i18n "download.linux.title" }}">
      </td>
      <th class="p-2">{{ i18n "download.linux.title" }}</th>
    </tr>
    <tr>
      {{- $appstreamLink := printf "appstream://%s.desktop" .Params.appstream }}
      <td class="p-2">{{ partial "fn/i18n_args" (slice "download.linux.description" .Params.name $appstreamLink) | markdownify }}</td>
    </tr>
    {{ if .Params.gear }}
      <tr class="title-row">
        <td rowspan="2" width="100" class="text-center">
          <img src="/reusable-assets/ark.svg" alt="{{ i18n "download.source.title" }}">
        </td>
        <th class="p-2">{{ i18n "download.source.title" }}</th>
      </tr>
      <tr>
        <td class="p-2">{{ partial "fn/i18n_args" (slice "download.source.description" .Params.name) | markdownify }}</td>
      </tr>
    {{ end }}
    {{ if .Params.flatpak }}
      {{- $kdeFlatpakLink := "https://userbase.kde.org/Tutorials/Flatpak#Nightly_KDE_apps" }}
      {{- with .Params.flatpak_exp }}
      {{- $kdeFlatpakLink = . }}
      {{- end }}
      {{- $flatpakLink := printf "https://flathub.org/apps/details/%s" .Params.appstream }}
      <tr class="title-row">
        <td rowspan="2" width="100" class="text-center">
          <img src="/reusable-assets/flatpak.png" alt="{{ i18n "download.flatpak.title" }}">
        </td>
        <th class="p-2">{{ i18n "download.flatpak.title" }}</th>
      </tr>
      <tr>
        <td class="p-2">{{ partial "fn/i18n_args" (slice "download.flatpak.description" .Params.name $flatpakLink $kdeFlatpakLink) | markdownify }}</td>
      </tr>
    {{ end }}
    {{ range .Params.sources }}
      <tr class="title-row">
        <td rowspan="2" width="100" class="text-center">
          <img src="{{ .src_icon }}" alt="{{ .name }}">
        </td>
        <th class="p-2">{{ .name }}</th>
      </tr>
      <tr>
        <td class="p-2">{{ .description | markdownify }}</td>
      </tr>
    {{ end }}
  </table>

  <h2>{{ i18n "download.install" }}</h2>
  {{- $strName := print "download.install.platform" (cond (isset .Params "components") ".components" "") }}
  <p>{{ partial "fn/i18n_args" (slice $strName .Params.name) | markdownify }}</p>
  <p>{{ partial "fn/i18n_args" (slice "download.install.linux" .Params.name) }}</p>
  {{- $strName = print "download.install.modular" (cond (isset .Params "components") ".components" "") }}
  {{- if (i18n $strName) }}
  <p>{{ partial "fn/i18n_args" (slice $strName .Params.name) }}</p>
  {{- end }}

  <h2>{{ i18n "download.uninstall" }}</h2>
  {{- $strName = print "download.uninstall.instruction" (cond (isset .Params "components") ".components" "") }}
  <p>{{ partial "fn/i18n_args" (slice $strName .Params.name) }}</p>
</main>
{{ end }}
