{{/*
SPDX-FileCopyrightText: 2023 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{/*
Context: a dict with these keys
- type: a string, can be "appimage", "bsd", "flatpak", "linux", "macos", "opensuse", "snap", "source", "tux", "ubuntu", or "windows"
- logo: path to a logo to use in case `type` is not provided or not recognized
- content: content to put next to the logo
Warnings:
- when neither `type` nor `logo` is provided
- when `type` is not recognized and `logo` is not provided
*/}}

{{- $image := "" -}}
{{- $logo := .logo -}}
{{- with .type -}}
  {{- if eq . "flatpak" }}{{ $image = "/reusable-assets/flatpak.png" -}}
  {{- else if eq . "snap" }}{{ $image = "/reusable-assets/snapcraft.svg" -}}
  {{- else if eq . "source" }}{{ $image = "/reusable-assets/ark.svg" -}}
  {{- else if in (slice "bsd" "linux" "tux") . }}{{ $image = "/reusable-assets/tux.png" -}}
  {{- else if in (slice "appimage" "macos" "opensuse" "ubuntu" "windows") . }}{{ $image = printf "/reusable-assets/%s.svg" . -}}
  {{- else if not $logo }}{{ warnf "'%s' is not a recognized type" . -}}
  {{- else }}{{ $image = $logo }}{{ end -}}
{{- else -}}
  {{- if not $logo }}{{ warnf "neither `type` nor `logo` is provided" }}
  {{- else }}{{ $image = $logo }}{{ end -}}
{{- end -}}
<div class="d-flex flex-column flex-md-row">
  <div>
    <img src="{{ $image }}" width=100 class="mt-md-2 me-md-5" />
  </div>
  <div>
    {{ .content | markdownify }}
  </div>
</div>
<hr>
