{{/*
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ if and .Site.Params.searchable (os.FileExists (print "search." .Language.Lang ".md")) }}
{{ if .Site.Params.fullSearchField }}
  <form action="{{ "search" | absLangURL }}" class="form-inline my-2 my-lg-0">
    <input class="form-control search-input" name="s" type="text" placeholder="{{ i18n "search.placeholder" }}" data-search="" required title=" "
           oninvalid="this.setCustomValidity('{{ i18n "search.invalid" }}')" oninput="this.setCustomValidity('')" minlength="3"/>
  </form>
{{ else }}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="search-icon">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </symbol>
</svg>
<div class="under-lg-search">
  <form action="{{ "search" | absLangURL }}" class="form-inline">
    <input class="form-control search-input" name="s" type="text" placeholder="{{ i18n "search.placeholder" }}" data-search="" required title=" "
           oninvalid="this.setCustomValidity('{{ i18n "search.invalid" }}')" oninput="this.setCustomValidity('')" minlength="3"/>
  </form>
</div>
<ul class="navbar-nav">
  <li class="nav-item dropdown lg-search">
    <a class="nav-link dropdown-toggle" role="button" id="search-dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
      <svg class="bi theme-icon"><use href="#search-icon"></use></svg>
    </a>
    <div class="dropdown-menu" aria-labelledby="search-dropdown-button">
      <form action="{{ "search" | absLangURL }}" class="me-1 row search-form">
        <input class="form-control col-auto ms-auto search-input" name="s" type="text" placeholder="{{ i18n "search.placeholder" }}" data-search="" required title=" "
               oninvalid="this.setCustomValidity('{{ i18n "search.invalid" }}')" oninput="this.setCustomValidity('')" minlength="3"/>
        <button class="btn col-auto" type="submit">
          <svg class="bi theme-icon"><use href="#search-icon"></use></svg>
        </button>
      </form>
    </div>
  </li>
</ul>
{{ end }}
{{ end }}
