{{ define "main"}}
  <main id="main" class="container">
    <div>
     <h1 id="title" class="text-center"><a href="{{ "/" | relURL }}">404: Page not found error</a></h1>
    </div>
  </main>
{{ end }}
