/**
 * SPDX-FileCopyrightText: (c) 202O Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: (c) 202O Chris Holland <zrenfire@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
li > code,
p code,
table code:not([class^="language-"]),
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
div:not(.highlight) > code,
h6 code {
  border: 1px solid var(--code-border);
  border-radius: 3px;
  background-color: var(--code-bg);
  padding: 0 .2em;
  padding-top: 0.15rem;
  margin: .1em .2em;
  color: inherit;
}

.td-content .highlight table code {
  background-color: inherit;
}
